<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontouml -->
      <package
            uri="http://www.example.org/ontouml"
            class="nl.guusgrievink.emf.ontouml.model.ontouml.OntoumlPackage"
            genModel="model/ontouml.genmodel"/>
   </extension>

</plugin>
